@import url('https://fonts.googleapis.com/css?family=Roboto');





.header img{
  filter:brightness(200);
}

/* Global Styles */
:root {
  --primary-color: #dc3545;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
  --navy-color: #1A3752;
  --orange-color: #FF7B59;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
  
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: #666;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

.text-success {
  color: var(--success-color);
}

.text-danger {
  color: var(--danger-color);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

/* Center All */
.all-center {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Cards */
.card {
  padding: 1rem;
  border: #ccc 1px dotted;
  margin: 0.7rem 0;
}

/* List */
.list {
  margin: 0.5rem 0;
}

.list li {
  padding-bottom: 0.3rem;
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

/* Grid */
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn-link {
  background: none;
  padding: 0;
  margin: 0;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-sm {
  font-size: 0.8rem;
  padding: 0.3rem 1rem;
  margin-right: 0.2rem;
}

.badge {
  display: inline-block;
  font-size: 0.8rem;
  padding: 0.2rem 0.7rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
  border-radius: 5px;
}

.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

/* Forms */
input {
  margin: 1.2rem 0;
}

.form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

input[type='submit'],
button {
  font: inherit;
}

table th,
table td {
  padding: 1rem;
  text-align: left;
}

table th {
  background: var(--light-color);
}

/* Navbar */


/* Mobile Styles */
@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }

  .grid-2,
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */
  /* .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  } */


}



/* Footer CSS  */
.main-footer{
  color:white; 
  background-color:var(--navy-color);
  position: relative;
  bottom: 0;
  width:100%;

}


/* Home Page */

.home{
  /* min-height: 1000px; */
}

.infopic1{
  height:150px;
  width:150px;
  text-align: center;
  display:block;
}

.navbar-nav{
 position: absolute;
 right:5px;
 top: 10px;
 flex-direction: row !important; 
}



/* Navbar CSS */
/* ADDED FROM WEBSITE */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height:4vh;
  
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.navbar a {
  color: #767676;
  justify-content: center;
}

.navbar a:hover {
  text-decoration: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #767676;
  margin: 5px;
}

.burger {
  display: none;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  width: 20%;
  font-size: 18px;
  font-style: bold;
  letter-spacing: 2px;


}
.nav-links a {
  color: #767676;
  font-weight: bold;
}

.nav-links li {
  list-style: none;
}

.navbar-logo {
  position: relative;
  color: #767676;
  right: 0%;
  justify-content: space-around;
  width: 30%;
  font-family: "Roboto";
  font-size: 15px;

  /* letter-spacing: 1px; */
}



/* Segment Bar CSS  */

.segment-links{ 
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  left:5%;
  width: 20%;
  font-size: 16px;
  font-style: lighter;
  letter-spacing: 2px;
  margin-top:1px;

}

.segment-links a {
  color: #767676;
  font-weight: normal;
}

.segment-links li {
  list-style: none;
}





/* Mobile Responsive CSS  */

@media screen and (max-width: 1600px) {
  .nav-links {
    width: 20%;
    left: 0;
  }

  .navbar-logo {
    width: 35%;
    right: 3%;
  }

  .segment-links{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    left:5%;
    width: 30%;
    font-size: 16px;
    font-style: lighter;
    letter-spacing: 2px;
    margin-top:1px;
  }



}

@media screen and (max-width: 1400px) {
  .nav-links {
    width: 20%;
    left: 0;
  }

  .navbar-logo {
    width: 35%;
  }
  .segment-links{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    left:5%;
    width: 35%;
    font-size: 16px;
    font-style: lighter;
    letter-spacing: 2px;
    margin-top:1px;
  }


}

@media screen and (max-width: 1250px) {
  .nav-links {
    width: 20%;
    left: 0;
  }
  .navbar-logo {
    width: 35%;
    right:0%;
  }
  
}

@media screen and (max-width: 1024px) {

  .navbar-logo {
    width:55%;
    right:0%;
  }


}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links{
    left:5%;
  }

  .navbar-logo {
    position: absolute;
    right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 25%;
    font-family: "Poppins";
    font-size: 18px;
    color: #767676;
    letter-spacing: 1px;
  }

  .nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar-logo li {
    opacity: 0;
  }

  .burger {
    position: absolute;
    right: 5%;
    display: block;
    cursor: pointer;
  }

  .segment-links{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    left:5%;
    width: 70%;
    font-size: 16px;
    font-style: lighter;
    letter-spacing: 2px;
    margin-top:1px;
  }

 

}

@media screen and (max-width: 400px) {
  .nav-links {
    width: 100%;
    left:-25%;
  }
  .navbar-logo {
    position: absolute;
    right: 5%;
    width: 40%;
  }

  .segment-links{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    left:5%;
    width: 50%;
    font-size: 16px;
    font-style: lighter;
    letter-spacing: 2px;
    margin-top:1px;
  }


}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* Burger Animation */

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}



.landing-main-text{
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 42px;
  line-height: 49px;
  text-align: center;
  letter-spacing: 0.1em;
  
}

.landing-secondary-text{
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 29px;
text-align: center;
letter-spacing: 0.04em;
}

.slick-dots {
  position:relative;
  align-items: center;
  /* background-color: blue; */
  justify-content: center;
  /* margin-top: -30px; */
  margin-bottom:20px;
  

}



.slider-div {
  background-color:white;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  padding: 23px;
}

.projectImageDiv {
  position: relative;
}


/* Flight Specials CSS  */


.flight-specials-div{
  width:70vw;
  margin:auto;
  margin-top:50px;
  background-color:white
}



.flight-specials-card { 
  width:580px;
  padding:0px;
  height:380px;
  margin:auto;
}

.flight-specials-img { 
height:280px;
border-radius:3px 3px 0px 0px

}

.box-primary-text {
color:#FFFFFF;
float:left;
font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 27px;
line-height: 33px;

}

.box-secondary-text {
color:#FF7B59;
  float:right;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 28px;

  }

  .box-secondary-badge {
      float:right;
      font-family: Roboto;
      font-style: normal;
      font-weight: bolder;
      font-size: 24px;
      line-height: 28px;
      margin-right:-4px;
      }
    


